@font-face {
  font-family: 'BlackHanSans-Regular';
  font-weight: 400;
  font-style: normal;

  src: url('./BlackHanSans-Regular.ttf') format('truetype'),
    url('./BlackHanSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'NotoSansKR-Regular';
  font-weight: 400;
  font-style: normal;

  src: url('./NotoSansKR-Regular.ttf') format('truetype'),
    url('./NotoSansKR-Regular.woff') format('woff');
}
